$body-bg: white;
$noise-bg: image-url('noise.png') top left !default;

// Main Link Colors
$link-color: lighten(black, 3) !default;

// Main Section Colors
$text-color: #222 !default;
$text-color-light: #aaa !default;
$type-border: #ddd !default;

/* General rules */
body {
  background-color: $body-bg;
}

h1 {
  font-size: 22px;
  font-weight: bold;
}

h2 {
  font-size: 20px;
  font-weight: 600;
  margin-top: 20px;
}

a, a:visited {
  color: $link-color;
  text-decoration: none;
  outline: 0;
}

li {
  line-height: 18px;
  margin-bottom: 12px;
}

ul {
  display: block;
  list-style-type: none;
}

// Logo
aside#logo {
  background-color: red;
}

aside#logo div {
  background-color: white;
}

aside#logo div a {
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  background: red url(/images/star_large.png) center center no-repeat;
  background-size: 100% 100%;
}

/* Menu */
ul#menu a {
  color: #999;
}

#octopress_linkback {
  background-color: rgba(255, 255, 255, 0.7);
}
/* Article rules */
article a:link, article a:visited, article a:hover, article a:active {
  text-decoration: none;
  border-bottom: 1px solid #CCC;
  border-bottom: 1px solid #CCC;
  color: #002e03;
}

article h2 {
  color: black;
  text-decoration: none;
  font-family: "Rokkitt", serif;
  font-size: 22px;
  line-height: 32px;
  font-weight: 700;
  -webkit-font-smoothing: antialiased;
}

article h2 a:link, article h2 a:hover, article h2 a:visited, article h2 a:active {
  color: black;
  text-decoration: none;
  border-bottom: 1px solid #CCC;
  font-family: "Rokkitt", serif;
  font-size: 22px;
  line-height: 32px;
  font-weight: 700;
  -webkit-font-smoothing: antialiased;
}
