.sharing-box {
  p.meta + & {
    padding: { top: 1em; left: 0; }
  }
}

/* Sharing box rules */
div.sharing-box {
  width: 100px;
  position: absolute;
  left: 570px;
  top: 60px;
}

#fb-root { display: none; }
